body{
    background-image: url("https://fastly.picsum.photos/id/189/2048/1536.jpg?hmac=R5GGFRgevRAOGu_pBXx0u2hhkhT30ICuSMIAisvauIo");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav a , #hero, #cta{
    color:#F8F9FA;
}
#header{
    background-color: #386641;
    color: #90a955;
    height:60px:
}
a{
    text-decoration: none;   
}
#hero{
    text-decoration: none;
}
#hero h1{
    font-size:80px;
}

a:hover{
    text-decoration: underline
}
#cta{
  background-color:#386641;
}

#cta:hover{
    background-color:#F8F9FA;
    color:#5D6C25;
}

#prouducts{
    background-color:#90a955;
}

.card{
    background-color: #F8F9FA;
}